@font-face {
    font-family: 'Grande Italic';
    src: url('fonts/grande_italic.ttf.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-size: 18px;
    background-color: #f8f5f5;
}

header {
    background-color: #0868b6f1;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul.nav-links {
    display: flex;
}

nav ul li {
    margin: 0 45px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 30px;
    font-family: 'Grande Italic';
    font-size: 20px;
}

nav ul li a:hover {
    background-color: #000000;
    border-radius: 5px;
}

.search-and-icons {
    display: flex;
    align-items: center;
}

.search-and-icons form {
    margin-right: 10px;
}

.search-and-icons input {
    padding: 10px;
    border-radius: 2px;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    background-color: #f1f1f1;
}

.search-and-icons input:focus {
    outline: none;
}

.icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.banner {
    position: relative;
    background-image: url('banner de la home.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner h2 {
    color: #ffffff;
    padding: 10px 20px;
    margin: 0;
    font-size: 24px;
    font-family: 'Grande Italic';
}

.featured-products, .sale-products, .shop-products, .moga-challenge {
    margin: 10px 0;
    text-align: center;
}

.featured-products h2, .sale-products h2, .shop-products h2, .moga-challenge h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Grande Italic';
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-btn, .sort-btn {
    background-color: #6e6e6e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.filter-btn img, .sort-btn img {
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

#productos-destacados, #productos-sale, #productos-shop, #dinamicas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Helvetica, sans-serif;
}

.product, .dinamica {
    border: 4px solid #004781fa;
    box-sizing: border-box;
    padding: 20px;
    margin: 40px; /* Ajustado para mayor separación */
    width: calc(33.333% - 80px); /* Espacio ajustado tras márgenes */
    text-align: center;
    box-shadow: 5px 5px 5px rgb(58, 58, 58);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.product img, .dinamica img {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
}

.product h3, .dinamica p {
    margin: 15px 0;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
}

.product p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

.moga-title {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
    color: #000000;
}

.moga-subtitle {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 0;
    color: #000000;
}

.upload-outfit {
    margin: 20px 0;
    text-align: left;
    padding: 20px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.upload-outfit h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.upload-outfit form {
    display: flex;
    flex-direction: column;
}

.upload-outfit label {
    margin-bottom: 10px;
    font-size: 16px;
}

.upload-outfit input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.upload-outfit button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.upload-outfit button:hover {
    background-color: #7e7e7e;
    transition: background-color 0.5s ease;
}

footer {
    background-color: #004781fa;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}
