@font-face {
    font-family: 'Grande Italic';
    src: url('fonts/grande_italic.ttf.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #f8f5f5;
    font-size: 16px;
    overflow-x: hidden; 
}


header {
    background-color: #ccccccf1;
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-right: 80px;
    padding-left: 40px;

}


header .logo img {
    height: 40px;
    padding-left: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul.nav-links {
    display: flex;
}

nav ul li {
    margin: 0 45px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 30px;
    font-family: 'Grande Italic';
    font-size: 20px;
}

nav ul li a:hover {
    background-color: #ffffff;
    border-radius: 5px;
}

.search-and-icons {
    display: flex;
    align-items: center;
}

.search-and-icons input {
    padding: 10px;
    border-radius: 1px;
    border: 2px solid #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    background-color: #f1f1f1;
}

.search-and-icons input:focus {
    outline: none;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;  
    margin-left: 200px;
}

.carritovich {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 200px;
}

main {
    padding: 20px;
}

.banner {
    position: relative;
    background-image: url('banner\ de\ la\ home.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner h2 {
    color: #ffffff;
    padding: 10px 20px;
    margin: 0;
    font-size: 24px;
    font-family: 'Grande Italic';
}

.featured-products, .sale-products, .shop-products, .moga-challenge {
    margin: 10px 0;
    text-align: center;
}

.featured-products h2, .sale-products h2, .shop-products h2, .moga-challenge h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Grande Italic';
}

.featured-products a {
       color: black; 
    }
    
.featured-products a:visited {
        color: black; 
    }

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-btn, .sort-btn {
    background-color: #6e6e6e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}




.filter-btn img, .sort-btn img {
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

#productos-destacados, #productos-sale, #productos-shop, #dinamicas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Helvetica, sans-serif;
}

.product, .dinamica {
    border: 4px solid #000000fa;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    width: calc(33.333% - 40px);
    text-align: center;
    box-shadow: 5px 5px 5px rgb(58, 58, 58);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.product img, .dinamica img {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
}

.product h3, .dinamica p {
    margin: 15px 0;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
}

.product p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

.moga-title {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
    color: #000000;
}

.moga-subtitle {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 0;
    color: #000000;
}

.moga-subtitle2 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 0;
    color: #000000;
}

.upload-outfit {
    margin: 20px 0;
    text-align: left;
    padding: 20px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.upload-outfit h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.upload-outfit form {
    display: flex;
    flex-direction: column;
}

.upload-outfit label {
    margin-bottom: 10px;
    font-size: 16px;
}

.upload-outfit input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.upload-outfit button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.upload-outfit button:hover {
    background-color: #7e7e7e;
    transition: background-color 0.5s ease;
}

.containerMOGA {
    display: block; 
    justify-content: center; 
    align-items: center; 
    height: 73vh; 
}

.OutfitsMOGAEj {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.info {
    font-family: Helvetica, sans-serif;
    margin: 20px 0;
    text-align: left;
    padding: 20px;
    background: url('background-cuidados.jpg');
    background-size: cover;
    background-position: center;
    color: #000000;
    position: relative;
}



.info h2 {
    font-size: 80px;
    margin-bottom: 20px;
    font-family: 'Grande Italic';
}

.info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.info ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    line-height: 1.6;
}

.info ul li {
    margin-bottom: 10px;
}

.info .atentamente {
    margin-top: 20px;
    font-size: 30px;
    font-style: italic;
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    padding-left: 1000px;

}

.info .atentamente img {
    height: 130px;
    width: 100%;
}

footer {
    background-color: #ccccccf1;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000000;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #020202;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-logo img {
    max-width: 100px;
    margin-bottom: 10px;
}

footer p {
    margin: 10px 0 0;
    font-size: 14px;
    color: #ffffff;
}

.product p {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.product .precio-original {
    text-decoration: line-through;
    color: #ff0000;
    font-size: 14px;
}

.product .precio {
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
}

.product-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.product-image {
    flex: 1;
    margin-right: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-info {
    flex: 1;
}

.product-info h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.product-info .price {
    font-size: 28px;
    color: #ff0000;
    margin-bottom: 10px;
}

.product-info .description {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-info .sizes {
    margin-bottom: 20px;
}

.product-info .add-to-cart {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.product-info .add-to-cart:hover {
    background-color: #444444;
}

.cart-preview {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    max-width: 50px;
    margin-right: 10px;
}

.cart-item p {
    margin: 0;
}

.cart-total {
    text-align: center;
    margin-top: 20px;
}

.cart-total p {
    font-size: 18px;
    font-weight: bold;
}

.cart-total button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-total button:hover {
    background-color: #444444;
}

/* Media Queries para hacer la página responsive */
@media (max-width: 1024px) {
    header, .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .OutfitsMOGAEj {
        height: calc(30vh - 100px);
        position: relative;
        background-size: cover;
        background-position: center;
        
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: -20px;
        
    }
    .search-and-icons {
        justify-content: center;
        margin-top: 10px;
    }
    .containerMOGA {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: 20vh; 
    }
    

    .filters {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .product, .dinamica {
        width: calc(50% - 40px); /* Mantener el diseño en 2 columnas */
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }
    
        main {
       
            
            margin: 0;
            padding: 0;
            height: auto;
        }


    nav ul.nav-links {
        flex-direction: column;
        margin: 20px 0;
    }

    .filters, .search-and-icons {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .product, .dinamica {
        width: 100%; /* Ajustar a una sola columna en pantallas más pequeñas */
        margin: 10px 0;
    }
    .banner {
        position: relative;
        background-image: url('banner\ de\ la\ home.jpg');
        background-size: cover;
        background-position: center;
        height: 80vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
    .banner h2 {
        font-size: 20px; /* Ajustar tamaño de fuente */
    }
}


@media (max-width: 480px) {
    header, .footer-container {
        padding: 10px;
    }

    .info  {

        font-family: 9px;
         


    }

    
.info h2 {


font-size: 4px;


 }

 .info p{  

    font-size: 14px;
 



 }


 .info ul li{  

    font-size: 14px;
 



 }

 
.atentamente span  {

    font-size: 8px;
     
     height: -20px ;
     
  }
 

 

    .banner {
        height: auto; /* Ajustar automáticamente la altura */
    }

    .banner h2 {
        font-size: 18px;
        padding: 10px; /* Espaciado adicional */
    }

    .product h3, .dinamica p {
        font-size: 16px; /* Tamaño de fuente más pequeño */
    }

    .product img, .dinamica img {
        height: auto; /* Mantener proporciones */
        max-width: 100%; /* Asegurar que no exceda el contenedor */
    }

    .featured-products h2 a  {

     font-family: 7px;



     }

    
    .product p {
        font-size: 14px;
    }

    .moga-title {
        font-size: 28px;
    }

    .moga-subtitle {
        font-size: 16px;
    }

    .cart-preview {
        padding: 15px;
    }

    .cart-item img {
        max-width: 40px;
    }

    .cart-total p {
        font-size: 16px;
    }

    .cart-total button {
        padding: 8px 16px;
    }
}

footer {
    background-color: #ccccccf1;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.footer-column {
    flex: 1;
    margin: 0 40px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000000;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #020202;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

